body {
    margin: 0;
    padding: 0;
}
.cont {
    display: flex;
    flex-direction: column;
}
.header {
    width: 100vw;
    height: 15vh;
    background-color: rgb(172, 73, 8);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; 
}
.title {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
}
.but {
    display: flex;
    justify-content: center;
}
#main {
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}
.removing {
    margin-top: auto;
    margin-bottom: 5px;
    width: 30px;

}
.book {
    border: 3px black solid;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.book .dcont {
    display: flex;
    font-size: 2em;
}
form {
    display: flex;
    flex-direction: column;
}
form input {
    margin-bottom: 9px;
}
.close {
    align-self: flex-end;
}
